body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

form {
    background-color: #98FB98;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
}

p {
    margin: 30px 100px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Verdana, sans-serif;
    height: 30px;
}

input[type="submit"] {
    background-color: #98AFC7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    height: 40px;
}

input[type="submit"]:hover {
    background-color: #7b93a7;
}

.error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}
